<h1>Posts</h1>

<%= link_to 'Back', users_path %>
<%= link_to 'New', new_user_post_path(@user) %>

<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= post.id %></td>
      <td><%= link_to 'Edit', edit_user_post_path(@user, post) %></td>
      <td><%= link_to 'Delete', user_post_path(@user, post), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
